h1{
text-align:center;
color:grey;
margin-bottom:20px;

}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
}

#maze {
    width: 300px;
    height: 300px;
    position: relative;
    border: 2px solid #fff;
}

#player {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    top: 10px;
    left: 10px;
}

#goal {
    width: 20px;
    height: 20px;
    background-color: green;
    position: absolute;
    bottom: 10px;
    right: 10px;
}